<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>모의투자::계정신청</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
	rel="stylesheet" />
<link th:href="@{/static/css/style.css}" rel="stylesheet" />
</head>
<body>
	<div class="container">
		<div th:replace="~{index::banner}"></div>
		<div style="width: 448px;" class="m-auto border rounded-2">
			<form th:action="@{/register}" method="post" class="p-4"
				id="register" autocomplete="off">
				<div>
					<h2>
						신규계정<span class="text-secondary" style="font-size: small;">신청하기</span>
					</h2>
				</div>
				<div class="py-1">
					<label>계정(*)</label> <input type="email"
						th:field="${newAccount.username}"
						class="form-control form-control-sm" th:errorclass="is-invalid"
						placeholder="이메일 형식" /> <span class="text-danger"
						th:if="${#fields.hasErrors('newAccount.username')}">이메일형식의
						입력이 필요합니다.</span>
				</div>
				<div class="py-1">
					<label>비밀번호(*)</label> <input type="password"
						th:field="${newAccount.password}"
						class="form-control form-control-sm" placeholder="최소 4글자"
						th:errorclass="is-invalid" /> <span class="text-danger"
						th:if="${#fields.hasErrors('newAccount.password')}">4글자에서
						12글자까지 설정가능합니다.</span>
				</div>
				<div class="py-1">
					<label>비밀번호 재입력</label> <input type="password"
						class="form-control form-control-sm" />
				</div>
				<div class="py-1">
					<label>닉네임(*)</label> <input type="text"
						th:field="${newAccount.nickname}"
						class="form-control form-control-sm" placeholder="최소 2글자"
						th:errorclass="is-invalid" /> <span class="text-danger"
						th:if="${#fields.hasErrors('newAccount.password')}">2글자에서
						7글자까지 설정가능합니다.</span>
				</div>
				<div class="mt-2 py-1">
					<button class="btn btn-dark form-control" id="sbt">계정신청</button>
				</div>
				<div class="mt-2 py-1" style="font-size: small;">계정을 생성하면 사용
					조건 및 개인정보 보호정책 에 동의하게 됩니다.</div>
				<hr />
				<div class="mt-2 py-1" style="font-size: small;">
					이미 계정을 가지고 있으신가요? <a th:href="@{/signin}">로그인</a>
				</div>
			</form>
		</div>
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	<script>
		document.querySelector("#register").addEventListener("submit",
				function(e) {
					document.querySelector("#sbt").disabled = true;
					// document.querytSelector("#sbt").enabled=false;
				});
	</script>

</body>
</html>





