<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

<h1>아이템 디테일 화면</h1>

<div>
  <canvas id="myChart"></canvas>
</div>



<div class="row">
    <div class="col-12">
        <span class="placeholder bg-primary" hidden><h2 th:text="${item.id}"></h2></span>
        <span class="placeholder bg-secondary">이름: <h2 th:text="${item.name}"></h2></span>
        <span class="placeholder bg-success">타입: <h2 th:text="${item.type.name}"></h2></span>
        <span class="placeholder bg-danger">현재가격: <h2 th:text="${item.price.current}"></h2></span>
        <span class="placeholder bg-warning">맥시멈: <h2 th:text="${item.price.maximum}"></h2></span>
    </div>
</div>




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'line',
    data: {
      labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
      datasets: [{
        label: '가격 변동 추이',
        data: [4, 5, 6, 7, 8, 3],
        borderWidth: 6
      }]
    },
    options: {
      scales: {
    	  xAxes: [{
              ticks: {
                display: false // X축 라벨 숨기기
              }
            }],
    	  
    	  
        y: {
          beginAtZero: true
        }
      }
    }
  });
  
  myChart.options.scales.xAxes[0].ticks.display = false;
</script>
</body>
</html>