<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
	rel="stylesheet" />
<link th:href="@{/static/css/style.css}" rel="stylesheet" />
<style>
@import
	url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
</style>
</head>
<body>

	<div replace="banner :: banner" style="font-family:'Gugi', sans-serif ">

	<div class="container py-3">
		<!-- chart view -->
		<div style="position: relative; height:35vh;" class="mb-2">
			<canvas id="chart" th:data-target="${item.id}" ></canvas>
		</div>

		<!-- item & purchase view -->
		<div class="row ">
			<!-- item view -->
			<div class="col-12 col-md-6">
				<div class="card">
					<div class="card-header d-flex justify-content-between">
						<div>
							<span th:text="${item.name}" class="fs-5"></span> <span
								class="badge bg-secondary" th:text="${item.type.name}"></span> <span
								th:if="${item.trend}" class="badge bg-primary">유행중</span>
						</div>
						<div>
							<span th:text="${#numbers.formatCurrency(item.price.current)}"></span>
						</div>
					</div>
					<ul class="list-group list-group-flush">
						<li
							class="list-group-item d-flex justify-content-between py-1 fs-6"
							th:each="log : ${priceLogs}">
							<div>
								<span th:text="${#numbers.formatCurrency(log.previousPrice)}"></span>
								<span>▶</span> <span
									th:text="${#numbers.formatCurrency(log.updatedPrice)}"></span>
							</div>
							<div class="fs-7">
								<span class=" text-secondary"
									th:text="${#temporals.format(log.updatedAt, 'HH:mm:ss')}"></span>
							</div>
						</li>

					</ul>
				</div>
			</div>

			<!-- purchace view -->
			<div class="col-12 col-md-6">
				<div th:if="${#authentication}">
					<h1>로그인 완료</h1>
				</div>
				<div th:unless="${#authentication}">
					<a th:href="@{/signin}">로그인이 필요합니다.</a> 
				</div>
			</div>
		</div>

	</div>
</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script>
		const ctx = document.getElementById("chart");

		document.addEventListener("DOMContentLoaded", function() {
			const target = ctx.dataset.target;
			fetch("/trade/api/pricelog/" + target, {

			}).then(function(response) {
				return response.json();
			}).then(function(obj) {
				new Chart(ctx, {
					type : "line",
					data : {
						labels : obj.labels,
						datasets : [ {
							label : '가격변동 그래프',
							data : obj.data,
							tension : 0.1
						} ]
					},
					options : {
						maintainAspectRatio : false,
						plugins : {
							legend : {
								display : false
							}
						},
						scales : {
							x : {
								display : false
							}
						}
					}
				});
			});

		});
	</script>
</body>
</html>